* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 48px;
    margin: 24px;
}