* {
    box-sizing: border-box;
}

body {
    background-color: #121214;
    color: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.header {
    font-weight: 600;
    font-size: 32px;
    margin: 12px;
}

.header-small {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 16px;
}

.scores-container, .round-container {
    display: flex;
    gap: 16px;
    margin: 24px;
}

.scores, .player-choice {
    background-color: #1A1A1E;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    min-width: 200px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #000000;
}

.score-number {
    margin-top: 8px;
    font-size: 40px;
}

.choices-container {
    display: flex;
    gap: 16px;
    margin: 12px;
}

.choices-btn {
    background-color: #1A1A1E;
    border: 3px solid #FBFBFB;
    padding:10px;
    text-align: center;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
}

.choices-btn:hover {
    background-color: #2C2C30;
}

.round-container {
    display: flex;
}

.player-choice {
    min-width: 100px;
    text-align: center;
}

.results-container {
    text-align: center;
}

.reset-button {
    background-color: red;
    border: none;
    color: #FBFBFB;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;  
}