* {
    box-sizing: border-box;
}

body {
    background-color: #121214;
    color: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-weight: 600;
    font-size: 32px;
    margin: 12px;
}

.header-small {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 16px;
}

.scores-container,
.round-container {
    display: flex;
    gap: 16px;
    margin: 24px;
}

.scores,
.player-choice,
#final-result {
    background-color: #1A1A1E;
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    min-width: 200px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #000000;
}

.score-number {
    font-family: Arial, Helvetica, sans-serif;
}

.score-number,
.round-choice {
    margin-top: 8px;
    font-size: 40px;
}

.choices-container {
    display: flex;
    gap: 16px;
}

.choices-btn {
    background-color: #1A1A1E;
    border: 3px solid #FBFBFB;
    padding:10px;
    text-align: center;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
}

.choices-btn:hover {
    background-color: #2C2C30;
}

.round-choice {
    font-size: 100px;
    margin: 4px 2px;  
}

.round-container {
    display: flex;
    margin-top: 64px;
}

.results-container {
    text-align: center;
}

#round-result {
    font-family: Arial, Helvetica, sans-serif;
}

#final-result {
    margin-top: 36px;
    text-transform: none;
    font-size: 20px;
}

.reset-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    background-color: #F44336;
    border: none;
    color: #FBFBFB;
    padding: 5px 10px;
    text-align: center;
    border-radius: 8px;
    margin: 24px;
    cursor: pointer;  
    box-shadow: 5px 10px 8px #000000;
}

.reset-button:hover {
    background-color: #BF352B;
    color: #EAEAEA;
}